<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affirmations</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of Affirmations</h1>
    <ul class="affirmations">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="affirmation">
            <span><%= info[i].entry %></span>
            <span><%= info[i].source %></span>
            <span><%= info[i].likes %></span>
            <span class='fa fa-thumbs-up'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Add an affirmation:</h2>

    <form action="/addAffirmation" method="POST">
        <input type="text" placeholder="Add entry..." name="entry">
        <input type="text" placeholder="Add source..." name="source">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
